{% extends 'base.html.twig' %}
{% set currentYear = 'now' | date("Y") %}

{% block title %}
	Home Page
{% endblock %}

{% block nav %}
	{% for item in items %}
		<li>{{ item }}</li>
	{% endfor %}
{% endblock %}
{% block body %}

	<h2>Ceci est la page d'accueil !</h2>

{% endblock %}

{% block footer %}

	&copy;
	{{ ' Bucket-List '|raw }}
	{{ currentYear }}
{% endblock %}
